body{
  font-family:
  '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック'; 'MS PGothic', sans-serif;
  color: #1d494d;
}



#content{
  color: white;
  height: 0;
    /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 68.75%;
    background: url(../images/0.jpg) 0 0 no-repeat;
    background-size: contain;
    position: relative;
}

.content1{
  text-align: center;
  padding-top: 10px;
  font-family: 'Francois One', sans-serif;
  position: absolute;
  top: 0;
  font-size: 50px;
  width: 100%;
}

.content1 h2{
font-size: 50px;
}

.content1 p{
font-size: 20px;
}

.content2{
  text-align: center;
  padding-top: 30px;
  line-height: normal;
  width: 100%;
  position: absolute;
  top: 10%;
}

.content2 h2{
  font-size: 20px;
}

.content3{
    color:white;
    height: 40px;
    position: absolute;
    bottom: 23%;
    width: 100%;
}

.content3-2{
  text-align: center;
}

.content3-2 a{
  background-color:orange;
  padding: 20px;
  border-radius: 10px;
}

@media(max-width: 590px){
 body{
   background-color: #1d494d;
 }

 .content1{
   padding-top: 0px;
 }

 .content2{
   position: absolute;
     padding-top: 0px;
     top: 80%;
 }

 .content2 h2{
   font-size: 18px;
 }



 .content2 p{
   font-size: 14px;
 }

.content3 {
  position: absolute;
  margin-top: 20px;
  top: 155%;
}

}

}
