body{
  font-family:
  '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック'; 'MS PGothic', sans-serif;
  color: #1d494d;
  background-color:#EEEEEE;
}

#wrapper{
  margin-left: 40px;
  margin-right: 40px;
  background-color:white;
}

.header{
  background-image: url(../images/0.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  color: white;
  padding-top: 20px;
}

.header1{
  float: left;
  margin-left: 20px;
}

.header1 img{
  width: 40%;
}


.header2{
  float: right;
  color: white;
}

.header2 ul{
  display: flex;
}

.header2 a{
  color: white;
  margin-right: 20px;
  margin-left: 30px;
}

.header3{
  clear: both;
  text-align: center;
  margin-top: 80px;
}




.content1{
  display: flex;
  margin-top: 80px;
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

.content1-left{
  width: 51%;
  text-align: right;
}

.content1-right{
  width: 49%;
  padding-left: 20px;
  padding-top: 50px;
}

.content1-right h2{
 margin-bottom:20px;
 font-size:30px;
}



.content2{
  text-align: center;
  margin-top: 200px;
  height: 200px;
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;

}

.content2 h2{
 font-size:30px;
}

.content2 p{
  margin-top: 20px;
  margin-bottom:30px;
}

.content2 span{
-webkit-text-emphasis: dot;
}

.content2 a{
  color: white;
  background-color: #1d494d;
  padding: 12px 55px;
  font-size: 14px;
}



.content3{
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;

}

.content3 h2{
font-family: 'Francois One', sans-serif;
}

.content3 p{
  margin-top: 20px;
}



.slider{
 margin:0 20px;
}

.content4{
  margin-top: 80px;
  margin-left: 2%;
  margin-right: 2%;
}



.content4-left{
 width: 50%;
 text-align: center;
 float:left;
}

.content4-left img{
  width: 100%;
  height:412px;
}



.content4-right{
  width: 50%;
  background-color: #EEEEEE;
  text-align: center;
  height:385px;
  margin-top:12px;
  float:left;
}

.content4-right h2{
 font-size:30px;
 margin-top: 20px;
}

.content4-right h3{
 margin-top: 20px;
}

.content4-right img{
 margin-top: 20px;
}

.content4-right p{
 margin-top: 20px;
}




.content5{
  margin-top: 150px;
  text-align: center;
  font-family: 'Francois One', sans-serif;
}


.content5 h2{
  font-size: 30px;
}


.content5 p{
  margin-top: 20px;
}



.content6{
  margin-top: 30px;
  text-align: center;

}



.content7{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  color: white;
  background-color: #1d494d;
  height: 30px;
  padding-top: 8px;
}

form{
margin:0 auto;
width:50%;
}


form p{
  margin-top: 20px;
  text-align:left;
}

input{
  width: 100%;
  margin-top: 20px;
  height:30px;
}

textarea{
  margin-top: 20px;
  width: 100%;
  height: 200px;
}

.button{
 width:15%;
 height: 30px;
 color:white;
 background-color:#1d494d;
}


@media(max-width: 590px){

  #wrapper{
    margin: 0 auto;
  }

.header{
  height: 300px;
}


.header1{
 float:none;
 text-align:center;
}

.header2{
 margin-top:180px;
 float:none;
}

.header2 li{
 width:25%;
}

.header3 {
    display: none;
}

.content1{

 display:block;
}

.content1-left{
  width: 100%;
  text-align: center;
}

.content1-right {
    width: 100%;
    text-align:center;
    padding: 0;
}

.content2{
  margin-top:50px;
}

.content2 h2{
 font-size:22px;
}

.content4{
width:100%;
margin-left: 0;
margin-right: 0;
}

.content4-left img{
  height:350px;
}

.content4-right{
  height:350px;
}

.content4-right h2{
  margin-top:10px;
}

.content4-right h3 {
    margin-top: 10px;
}

.content4-right img {
    margin-top: 10px;
   width:30%;
}

.content4-right img {
    margin-top: 20px;
}

.content4-right p{
    font-size:11px;
}

.button{
  width: 100%;
}

}

@media(max-width: 480px){

  #wrapper{
    margin: 0 auto;
  }

  .header{
    height: 200px;
  }

  .header2{
    margin-top: 100px;
  }

  .header2 a {
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

  .header3 {
    display: none;
}

  .content1{
  margin-top: 20px;
  }

  .content1-left{
    width: 100%;
  }

  .content1-left img{
    width: 100%;
  }

  .content2 h2 {
    font-size: 14px;
}

.content3{
  margin-top: 20px;
}

.content4-left  {
    float:none;
    width: 100%;
}

.content4-right{
  float: none;
  width: 100%;
}

form p{
  font-size: 14px;
}


}
